.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 20vw;
    /* background-color: rgb(13, 225, 240); */
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.cards-house {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0px 3px 10px rgb(65, 134, 212);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    /* background-color: #00DBDE; */
    /* background-image: linear-gradient(0deg, #00DBDE 0%, #8400ff 100%); */
    overflow: hidden;
    /* margin-top: 20px; */
    min-height: 384px !important;
}

.cards-house h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #0d1453;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.cards-house h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d1453;
    border-radius: 50%;
    padding: 1px;
    background-color: #34086d;
}

.cards-house svg {
    height: 35px;
    width: 35px;
}

.cards-house h2 svg {
    color: #fff;
}

.header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    width: 100%;
}

.header h3 {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(32, 32, 34);
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.header h4 {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(52, 52, 54);
    font-family: 'Poppins', sans-serif;
}

.header span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}

.header span :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d1453;
    border-radius: 30%;
    padding: 2px;
    background-color: #2511a7;
    color: #fff;
}

.cards-basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: left;
    /* margin-top: 20px; */
}