.Dashview {
    display: flex;
    flex-direction: column;
    width: vw;
    height: 100%;
    align-items: center;
    padding: 0px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
}

.chart {
    width: 100%;
    padding: 5px;
}

.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0); */
    border-radius: 40px;
    box-shadow: 0px 3px 10px rgb(65, 134, 212);
    margin: 10px;
}